@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS untuk menempatkan Card di pojok kanan atas */
.card {
  position: absolute;
  top: 70px; /* Jarak dari navbar (sesuaikan sesuai kebutuhan) */
  right: 20px; /* Jarak dari tepi kanan */
  z-index: 1000; /* Memastikan kartu berada di atas elemen lainnya */
}
